body{
	background-color: #f2f2f2;
	font-family: Century Gothic;
}

.titulo{
	color: #FFFFFF;
	text-align: right;
	margin-top: 0px;
}

.menu{
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 22px;
}

.table {
	font-size: 15px;
}
.uppercase input, textarea {
	text-transform: uppercase;
}

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}

.img-avatar{
	margin-right:5px;
	border-radius: 2px;
}